.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.header {
  background: #3498db;
  color: white;
  font-size: 50px;
}

.text_box {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.dropdown {
  width: 50%;
  height: 200px;
  margin: 0 auto;
}

.slider {
  width: 30%;
  display: inline-block;
}

.left {
  padding-right: 15px;
  font-size: 20px;
}

.right {
  padding-left: 15px;
  font-size: 20px;
}

.product {
  margin: 0 auto;
}

.tag {
  background-color: #1a4c6e;
  border-radius: 3px;
  color: white;
  margin: 5px;
  border: 3px solid #1a4c6e;
}

.tags {
  text-align: center;
  margin: 3px;
}

.radio {
  padding-left: 5px;
}

.smiley_faces {
  height: 70px;
  width: 70px;
  padding: 10px;
}

.btn-default {
  margin-bottom: 10px;
}

body {
  background-color: WhiteSmoke;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
